

<div id="stationlist_header">
	<div id="bike_header">Bikes</div>
	<div id="dock_header">Docks</div>
</div>

<div id="after_search_list">

	<% i = 0 %>
	<% @stationgroup.each do |station| %>
		<%= content_tag_for :div, station do %>				
			<% if @bikes[i] < 4 %>
				<!-- display low qty alert (color red) -->
				<div class='bikes white-text' style="background-color:#DF4949">	<%= @bikes[i] %> </div> 
			<% elsif @bikes[i] < 9 %>
				<!-- display moderate qty alert (color yellow) -->
				<div class='bikes' style="background-color:#F5FF87">	<%= @bikes[i] %> </div> 
			<% else %>
				<!-- display high qty alert (color green) -->
				<div class='bikes white-text' style="background-color:#53C400">	<%= @bikes[i] %> </div> 
			<% end %>

			<div id="stname"> <%= station.address %> </div> 

			<% if @docks[i] < 4 %>		
				<div class='docks white-text' style="background-color:#DF4949">	<%= @docks[i] %> </div> 
			<% elsif @docks[i] < 9 %>
				<div class='docks' style="background-color:#F5FF87">	<%= @docks[i] %> </div> 
			<% else %>
				<div class='docks white-text' style="background-color:#53C400">	<%= @docks[i] %> </div> 
			<% end %>

			<% i +=1 %> 
		<% end %>
	<% end %>
</div>

