<h1>Citibike Availability Overview (Beta)</h1>

<h2>Near 42nd and 11 Ave Street...</h2>

<h3> Weather Condition: <%= @w_condition %>   <%= image_tag(@icon) %>| Temperature: <%= @temp %> | Wind: <%= @wind[0..23] %> </h3>

<div id="box1">  <div id="bike"> Bike </div> <div id="dock"> Dock </div> 

</div>
<ul>
<li> <div id="status1" class="status"></div><div id="list1">Silver Tower bikes : <b class="bikes"> <%= @our_station1 %> </b> docks: <b class="docks"> <%= @our_docks1 %></b> </div></li>
<li> <div id="status2" class="status"></div><div>River Ferry  bikes : <b class="bikes"><%= @our_station2 %></b> docks: <b class="docks"><%= @our_docks2 %></b></div></li>
<li><div id="status3" class="status"></div> <div> BBQ Station  bikes : <b class="bikes"><%= @our_station3 %></b> docks: <b class="docks"><%= @our_docks3 %></b></div></li>
<li> <div id="status4" class="status"></div><div>43 and 10    bikes : <b class="bikes"><%= @our_station4 %> </b>docks: <b class="docks"><%= @our_docks4 %></b></div></li>
<li> <div id="status5" class="status"></div><div>37 and 10    bikes : <b class="bikes"><%= @our_station5 %> </b>docks: <b class="docks"><%= @our_docks5 %></b></div></li>
<li> <div id="status6" class="status"></div><div>Javits Center bikes : <b class="bikes"><%= @our_station6 %> </b>docks: <b class="docks"><%= @our_docks6 %></b></div></li>


</ul>

<h4> Updated at: <%= @time %> </h3>

<h2> The Next Bus is estimated to arrive in: <%= @next +3  %> minutes </h2>
<div class="hidden"> <h3> Next bus schedule is: <%= @timep %>, <%=@timenext %>, <%= @timenn %> and now is: <%= @now %> </h3> </div>

<div class="hidden" id="hidden1"> <%= @our_station1 %></div>
<div class="hidden" id="hidden2"> <%= @our_station2 %></div>
<div class="hidden" id="hidden3"> <%= @our_station3 %></div>
<div class="hidden" id="hidden4"> <%= @our_station4 %></div>
<div class="hidden" id="hidden5"> <%= @our_station5 %></div>
<div class="hidden" id="hidden6"> <%= @our_station6 %></div>
<div class="hidden" id="hidden7"> <%= @our_docks1 %></div>
<div class="hidden" id="hidden8"> <%= @our_docks2 %></div>
<div class="hidden" id="hidden9"> <%= @our_docks3 %></div>
<div class="hidden" id="hidden10"> <%= @our_docks4 %></div>
<div class="hidden" id="hidden11"> <%= @our_docks5 %></div>
<div class="hidden" id="hidden12"> <%= @our_docks6 %></div>